git+https://github.com/descriptinc/audiotools
git+https://github.com/WangHelin1997/Fast-GeCo.git#subdirectory=score_models
pytorch-lightning==2.4.0
torch==2.4.1
torch-ema==0.3
torch-optimizer==0.1.0
torch-stoi==0.2.3
torchaudio==2.4.1
torchmetrics==0.11.4
torchsde==0.2.6
torchvision==0.19.1
tornado==6.4.2
tqdm==4.63.0
matplotlib==3.7.5
pesq==0.0.4
wandb==0.19.1
pandas==2.0.3
diffusers==0.30
librosa==0.9.2
speechbrain==1.0.2
python_speech_features==0.6
einops==0.8.0
alias_free_torch==0.0.6
vector_quantize_pytorch==1.14.8